* {
    margin: 0;
    justify-content: space-around;
}

body {
    

    
  }

  .bgimage{

    filter: blur(5px);
    height: 100%;
    width: 100%;
    position: fixed;
    size: auto;
    background-image: url(backgroud.jpeg);
    background-size: cover;

  }


.filtropreto1 {
    color: black;
    opacity: 30%;
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    size: auto;
    

    
}

.filtropreto2 {
    color: black;
    opacity: 79%;
    display: flex;
    background-color: black;
    height: 100vh;
    width: 25vw;
    position: fixed;
    -webkit-transition: all 2.0s;
    
}

.qr1{
    position: absolute;
    margin-top: 9%;
    margin-left: 2%;
}

.qrcode {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    margin-left: 5%;
    position: fixed;
    border-radius: 10%;
    left: 0;
    
    -webkit-transition: all 0.5s;
    
}


.qrcode:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.qrcode2 {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    position: fixed;
    margin: 5%;
    bottom: 0%;
    border-radius: 10%;
    left: 0;
    -webkit-transition: all 0.5s;
}

.qrcode2:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.linhaQRcode {
position: fixed;
width: 20vw;
top: 7%;


}
h1{
    position: fixed;
    color: white;
    
   

}
p{
    position: fixed;
    color: white;
    
   

}
.textoQRsite {
    position: sticky;   
    margin-top: 155%;
    margin-left: 1%;
    white-space: nowrap ;
}

.linhaQRcode2 {
position: absolute;
width: 20vw;
top: 55.5%;
margin-bottom: 3%;
margin-left: 1%;
}


.textoQRapp {
position: fixed;
margin-left: 0%;
padding-top: 1%;
top: 0%;

}

.NumeroPessoasAcademia {
    position: absolute;
    scale: 1.4;
    left: 50%;
    top: 35%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademia:hover {
scale: 1.8;
}

.NumeroPessoasAcademiaLinha {
    position: absolute;
    scale: 1.4;
    left: 53%;
    top: 45%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademiaLinha:hover{
    scale: 1.8;
    background-color: #1ba4ff18;
    box-shadow: 0 0 35px #1ba4ff;
}


.NumeroPessoas_digitos{
    position: absolute;
    scale: 3;
    left: 62%;
    top: 52%;
    -webkit-transition: all 0.5s;
    stroke-width: 50px;
    -webkit-text-stroke-color: white;
    
}


.NumeroPessoas_digitos:hover{
    position: absolute;
    scale: 4;
   
    text-shadow: 0 0 20px #1ba4ff;
}

.Logo {
    position: absolute;
    left: 54%;
    top: -4%;
    -webkit-transition: all 0.5s;

}

.fa-solid {
    color: white;
    scale: 2;
    position: relative;
    left: 5px;
    -webkit-transition: all 0.5s;
}

.fa-solid:hover {
    

}       

.downloadp{
    white-space: nowrap;
}
.div_app{
width: 50px;

height: 50px;
z-index: 5;
position: absolute;
-webkit-transition: 500ms all;
margin-left: 1%;
top: 110%;
}
.div_app:hover{
    scale: 1.5;
    
}

a {
    color: white;
}




@media screen  and (max-width: 768px) {
    


    * {
        padding: 0;
        margin: 0;
        max-width: 100vw;
        max-height: 100vh;
        
    }
    
    
    .qrcode {
        bottom: 27vh;
        scale: 2;
        left: 30%;
        position: fixed;
        padding: 0;
        margin: 0;
    }


    .qrcode2 {
        bottom: 27vh;
        scale: 2;
        left: 62%;
        position: fixed;
        padding: 0;
        margin: 0;
    }
    .filtropreto2 {
        height: 38vh;
        bottom: 6vh;
        left: 19%;
        width: 67%;
        border-radius: 10%;
        opacity: 82%;
        position: fixed;
    }

    .textoQRsite {
        position: relative;
        left: 0vw;
        margin-left: 35%;
        padding: 10px 0;
        margin-top: 0%;
        top: 43%;
        scale: 0.5;
        white-space: nowrap; /* Impede a quebra de linha */
        
        
    }

    .linhaQRcode {
        
        left: 25%;
        scale: 1.5;
        top: 79.7%;
        position: fixed;
    }
    
    .qr1{
        height: 35%;
        left: 15%;
        float: left;
        width: 70%;
        border-radius: 10%;
        bottom: 7vh;
        position: fixed;
        
    }
    .qr2{
        height: 30%;
        left: 45%;
        
        width: 70%;
        border-radius: 10%;
        bottom: 7vh;
        position: fixed;
    }
    .linhaQRcode2 {
        top: 79.7%;
        left: 58%;
        scale: 1.5;
        padding: 0;
        margin: 0;
        position: fixed;
    }

    .textoQRapp {
        position: relative;
        margin-left: -3%;
        padding: 10px 0;
        float: left;
        top: 43%;
        scale: 0.5;
        white-space: nowrap; /* Impede a quebra de linha */
    }

    .fa-solid{
       left: 50%;
        position: absolute;
    }

    .downloadp{
        top: 50%;
        left: 1%;
        position: absolute;
        
       
    }


    .div_app{
        width: 50px;
        
        height: 50px;
        z-index: 5;
        position: relative;
        -webkit-transition: 500ms all;
        
        top: 85%;
        scale: 0.9;
        left: 40%;
    }
    
    .div_app:hover{
     scale: 1.5;
            
    }
    .DivLogo{
        
        width: 100%;
        height: 0%;
        top: -10%;
        z-index: 5;
        position: absolute;
    }

    .Logo{
        align-self: center;
        
        left: 0%;
        top: 0%;
        padding: 0%;
        margin: 0%;
        scale: 0.5;
        
        position: relative;
        
    }



    .NumeroPessoasAcademia {
        scale: 0.6;
        left: 8vw;
        top: 30%;
        text-align: center;
        text-size-adjust: auto;
        text-shadow: 5px 5px 5px black;
        text-size-adjust: auto;
    }

    .NumeroPessoasAcademia:hover {
        scale: 0.8;
    }


    .NumeroPessoasAcademiaLinha{
        left: 4vw;
        scale: 0.8;
        top: 40%;
        position: fixed;
        width: 95%;
    }
        .NumeroPessoasAcademiaLinha:hover{
        scale: 0.9;
    }

    .NumeroPessoas_digitos {
        top: 40vh;
        
        left: 35vw;
        text-align: center;
        scale: 1.5;
        margin: 10%;
    }

    @media screen  and (max-width: 400px) {
        .textoQRapp{
            margin-left: -10%;

        }

        .textoQRsite{
            margin-left: 0%;
        }
    }
        

}

