* {
    margin: 0;
    justify-content: space-around;
}

body {
    background-image: url('https://tecnofit-site.s3.sa-east-1.amazonaws.com/media/files/2023/07/18165203/iluminacao-academia-2048x1367.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
  }


.filtropreto1 {
    color: black;
    opacity: 40%;
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    size: auto;
    
}

.filtropreto2 {
    color: black;
    opacity: 79%;
    display: flex;
    background-color: black;
    height: 100vh;
    width: 25vw;
    position: fixed;
    -webkit-transition: all 2.0s;
}

.qrcode {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    margin-left: 5%;
    position: fixed;
    border-radius: 10%;
    left: 0;
    margin-top: 9%;
    -webkit-transition: all 0.5s;
    
}


.qrcode:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.qrcode2 {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    position: fixed;
    margin: 5%;
    bottom: 0%;
    border-radius: 10%;
    left: 0;
    -webkit-transition: all 0.5s;
}

.qrcode2:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.linhaQRcode {
position: fixed;
width: 20vw;
bottom: 35%;
margin-bottom: 3%;
margin-left: 1%;
}
h1{
    position: fixed;
    color: white;
    text-align: center;
    
   

}
p{
    position: fixed;
    color: white;
    
   

}
.textoQRsite {
    position: absolute;
    bottom: 45%;
    margin-left: 4%;
}

.linhaQRcode2 {
position: absolute;
width: 20vw;
bottom: 83%;
margin-bottom: 3%;
margin-left: 1%;
}

.textoQRapp {
margin-left: 5%;
padding-top: 1%;
}

.NumeroPessoasAcademia {
    position: absolute;
    scale: 1.4;
    left: 50%;
    top: 35%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademia:hover {
scale: 1.8;
}

.NumeroPessoasAcademiaLinha {
    position: absolute;
    scale: 1.4;
    left: 53%;
    top: 45%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademiaLinha:hover{
    scale: 1.8;
    background-color: #1ba4ff18;
    box-shadow: 0 0 35px #1ba4ff;
}


.NumeroPessoas_digitos{
    position: absolute;
    scale: 3;
    left: 62%;
    top: 52%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoas_digitos:hover{
    position: absolute;
    scale: 4;
   
    text-shadow: 0 0 20px #1ba4ff;
}

.Logo {
    position: absolute;
    left: 54%;
    top: -4%;
    -webkit-transition: all 0.5s;

}

.fa-solid {
    color: white;
    scale: 2;
    position: fixed;
    top: 35%;
    margin: 3%;
    -webkit-transition: all 0.5s;
}

.fa-solid:hover {
    
    scale: 4;
   
    text-shadow: 0 0 20px #1ba4ff;
}       

.downloadp{
    left: 1.5%;
    bottom: 52%;
}

a {
    color: white;
}




@media screen  and (max-width: 768px) {
    
    * {
        padding: 0;
        margin: 0;
    
    }
    
    
    .qrcode {
        bottom: 27vh;
        scale: 2;
        left: 27%;
        position: fixed;
        padding: 0;
        margin: 0;
    }


    .qrcode2 {

        bottom: 27vh;
        scale: 2;
        left: 60%;
        position: fixed;
        padding: 0;
        margin: 0;
    }
    .filtropreto2 {
        height: 35%;
        bottom: 6vh;
        transform: translateX(25%);
        width: 67%;
        border-radius: 10%;
        opacity: 82%;
        align-self: center;
        align-content: center;
        

    }
    .textoQRsite {
        position: absolute;
        left: 5%;
        transform: translateX(-50%);
        bottom: 15%;
        margin-left: 16vw; /* Ajuste conforme necessário */
        scale: 0.5;
    }

    .linhaQRcode {
        bottom: 20%;
        left: 25%;
        scale: 1.5;
        padding: 0;
        margin: 0;
        white-space: nowrap; /* Impede a quebra de linha */
    }

    .linhaQRcode2 {
        bottom: 20%;
        left: 58%;
        scale: 1.5;
        padding: 0;
        margin: 0;
        position: fixed;
    }

    .textoQRapp {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
        bottom: 15%;
        margin-left: 8vw; /* Ajuste conforme necessário */
        scale: 0.5;
        white-space: nowrap; /* Impede a quebra de linha */
    }

    .fa-solid{
        top: 85%; /* Mesmo valor que .downloadp */
        left: 45vw; /* Ajuste conforme necessário */
        text-align: center;
        align-items: center;
        position: absolute;
    }

    .downloadp{
        top: 90%;
        left: 43vw; /* Ajuste conforme necessário */
        position: absolute;
        text-align: center;
        align-items: center;
       
    }

    .divdownload {
        position: relative;
        left: 50%;
    }

    .Logo{
        
        top: 0%;
        padding: 0%;
        margin: 0%;
        transform: translateX(-50%);
        
    }



    .NumeroPessoasAcademia {
        scale: 0.6;
        transform: translateX(-80%);
        top: 40%;
        text-align: center;
        text-size-adjust: auto;
        text-shadow: 5px 5px 5px black;
        white-space: nowrap;
        align-content: center;
        align-self: center;
        
        
    }

    .NumeroPessoasAcademia:hover {
        scale: 0.6;
        text-shadow: 0px 10px 50px #1ba4ff;
    }


    .NumeroPessoasAcademiaLinha{
        left: 4vw;
        scale: 0.8;
        top: 49%;
        position: fixed;
        width: 95%;
        z-index: -1;
    }
        .NumeroPessoasAcademiaLinha:hover{
        scale: 0.9;
    }

    .NumeroPessoas_digitos {
        top: 52%;
        left: 45vw;
        text-align: center;
        scale: 1.5;
        z-index: 9;
    }



}
    
