* {
    margin: 0;
}

body {
    background-image: url('https://tecnofit-site.s3.sa-east-1.amazonaws.com/media/files/2023/07/18165203/iluminacao-academia-2048x1367.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }


.filtropreto1 {
    color: black;
    opacity: 40%;
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.filtropreto2 {
    color: black;
    opacity: 79%;
    display: flex;
    background-color: black;
    height: 100vh;
    width: 25vw;
    position: absolute;
}

.qrcode {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    margin-left: 5%;
    position: absolute;
    border-radius: 10%;
    left: 0;
    margin-top: 9%;
    -webkit-transition: all 0.5s;
}


.qrcode:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.qrcode2 {
    background-image: url(./qr-code-plus.png);
    width: 12vw;
    position: absolute;
    margin: 5%;
    bottom: 0%;
    border-radius: 10%;
    left: 0;
    -webkit-transition: all 0.5s;
}

.qrcode2:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.2);
}

.linhaQRcode {
position: absolute;
width: 20vw;
bottom: 35%;
margin-bottom: 3%;
margin-left: 1%;
}
h1{
    position: fixed;
    color: white;
    
   

}
p{
    position: fixed;
    color: white;
    
   

}
.textoQRsite {
    position: absolute;
    bottom: 45%;
    margin-left: 4%;
}

.linhaQRcode2 {
position: absolute;
width: 20vw;
top: 10%;
margin-bottom: 3%;
margin-left: 1%;
}

.textoQRapp {
margin-left: 5%;
padding-top: 1%;
}

.NumeroPessoasAcademia {
    position: absolute;
    scale: 1.4;
    left: 50%;
    top: 35%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademia:hover {
scale: 1.8;
}

.NumeroPessoasAcademiaLinha {
    position: absolute;
    scale: 1.4;
    left: 53%;
    top: 45%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoasAcademiaLinha:hover{
    scale: 1.8;
    background-color: #1ba4ff18;
    box-shadow: 0 0 35px #1ba4ff;
}


.NumeroPessoas_digitos{
    position: absolute;
    scale: 3;
    left: 62%;
    top: 52%;
    -webkit-transition: all 0.5s;
}

.NumeroPessoas_digitos:hover{
    position: absolute;
    scale: 4;
   
    text-shadow: 0 0 20px #1ba4ff;
}

.Logo {
    position: absolute;
    left: 54%;
    top: -4%;

}

.fa-solid {
    color: white;
    scale: 2;
    position: fixed;
    top: 35%;
    margin: 3%;
    -webkit-transition: all 0.5s;
}

.fa-solid:hover {
    
    scale: 4;
   
    text-shadow: 0 0 20px #1ba4ff;
}       

.downloadp{
    left: 1.5%;
    bottom: 52%;
}

a {
    color: white;
}